.rutas-section {
  margin: 1rem;
  padding: 1.5rem;
  background: #e6fff2; /* tono verde clarito */
  border-left: 6px solid #00b894;
}

.rutas-section h2 {
  color: #00b894;
}

.rutas-section pre {
  background: #fff;
  padding: 1rem;
  border: 1px solid #00b89444;
  border-radius: 8px;
}
