<nav class="navbar">
  <ul>
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/instalacion">Instalación</a></li>
    <li><a routerLink="/estructura-proyecto">Estructura</a></li>
    <li><a routerLink="/creacion-componentes">Componentes</a></li>
    <li><a routerLink="/servicios-dependencias">Servicios</a></li>
    <li><a routerLink="/rutas-navegacion">Rutas</a></li>
    <li><a routerLink="/formularios">Formularios</a></li>
    <li><a routerLink="/pipes-directivas">Pipes</a></li>
    <li><a routerLink="/demo-interactiva">Demo</a></li>
    <li><a routerLink="/conclusiones">Conclusiones</a></li>
  </ul>
</nav>
